body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: helvetica-light;
}

.title {
  font-size: 18px;
}

.item_container {
  margin-top: 100px;
  margin-bottom: 100px;
}

.item_container p {
  color: #343333;
}
